@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.swiftBG {
    background: linear-gradient(135deg, #003069 0%, #005F92 50%, #008239 100%);
    color: white;
    border: none;
}

.urbanist {
               font-family: "Urbanist", sans-serif;
               font-optical-sizing: auto;
               font-weight: 400;
               font-style: normal;
           }